@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: #855c5c;
}

.wrapper {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  background: #944b4b;
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 30px;
  padding: 20px;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 10px 5px rgba(32, 29, 29, 0.3),
    inset 0px 0px 10px 5px rgba(32, 29, 29, 0.3);
  border: 10px solid #583838;
}

.calc-text {
  width: 100%;
  height: 100px;
  border: 5px solid #a07c7c;
  background: #a07c7c;
  border-radius: 20px;
  font-size: 1.875rem;
  padding: 10px;
  box-shadow: inset 0px 0px 10px 5px rgba(68, 50, 50, 0.8),
    0px 0px 10px 5px rgba(68, 50, 50, 0.8);
}

.button-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.btn-group-1,
.btn-group-2,
.btn-group-3,
.btn-group-4,
.btn-group-5 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}
.button,
.behind {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background: #3a2323;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #e4dada;
  outline: none;
  border: 0;
  box-shadow: 0px 0px 4px 4px rgba(32, 29, 29, 0.3);
  &:hover {
    background: #855c5c;
  }
  &.active {
    animation: click 500ms ease;
  }
}
.behind {
  cursor: pointer;
  &.active {
    animation: click 500ms ease;
  }
}
.btn-zero {
  width: 72% !important;
}
@media (max-width: 375px) {
  .wrapper {
    width: 95%;
  }
  .button,
  .behind {
    width: 70px;
    height: 70px;
  }
}

@keyframes click {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
